---
# Install agent
- include_tasks: "setup-{{ ansible_os_family | lower }}.yml"

# configured nessusd.rules file
- name: Create nessusd.rules file
  template:
    src: nessusd.rules.j2
    dest: "{{ nessus_install_dir }}/etc/nessus/nessusd.rules"
    mode: 0644
  when: rules | length > 0

# Check agent and start service
- name: Check for Nessus installation
  stat:
    path: "{{ nessus_install_dir }}"
  register: stat_result

- name: Check Nessus Agent
  command: "{{ nessus_agent_path }} agent status"
  become: yes
  changed_when: false
  ignore_errors: yes
  register: check_result

- name: Make sure a service is running
  systemd:
    state: started
    name: "{{ nessus_agent_service_name }}"

- name: Link Nessus Agent to Nessus Manager
  command: "{{ nessus_agent_path }} agent link --host={{ nessus_agent_host }} --port={{ nessus_agent_port }} --key={{ nessus_agent_key }} --groups={{ nessus_agent_group }}"
  become: yes
  when: check_result.stdout is search('Not linked to') and nessus_agent_key | length > 0