---
name: CI
'on':
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 4 * * 4"

defaults:
  run:
    working-directory: 'ansible-role-tenable-agent'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'ansible-role-tenable-agent'

  molecule:
    name: Molecule
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: centos8
            playbook: converge-rpm.yml
          - distro: centos7
            playbook: converge-rpm.yml
          - distro: ubuntu2004
            playbook: converge-apt.yml
          - distro: ubuntu1804
            playbook: converge-apt.yml
          - distro: debian10
            playbook: converge-apt.yml
          - distro: debian9
            playbook: converge-apt.yml

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'ansible-role-tenable-agent'

      - name: Set up Python 3.
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint ansible-lint ansible molecule[docker] docker

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_PLAYBOOK: ${{ matrix.playbook }}
